#main {
    font-size: 200%
}

#main input {
    font-size: 100%
}

#input1 {
    width: 200px
}

#entry1 {
    width: 320px
}

#div1 {
    padding-left: 100px
}

#div2 {
    padding-left: 120px
}