#main {
    font-size: 200%
}

#input1 {
    width: 240px;
    font-size: 80%
}

#entry1 {
    width: 320px;
    font-size: 100%
}

#div1 {
    padding-left: 20px;
    font-size: 100%
}