/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* コンテナ中央揃え */
#container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.6em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #2c3e50;
}

h2 {
    margin-top: 20px;
    font-size: 1.8em;
    color: #2980b9;
    border-bottom: 0.1em solid #2980b9;
    padding-bottom: 0.2em;
}

p {
    margin: 1.6em 0;
    font-size: 1.2em;
    color: #555;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color: #3498db;
    text-decoration: underline;
}

/* フッターの著作権表記 */
#copyright p {
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin: 1em;
    color: #777;
}

#github-logo {
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
}

#x-black {
    width: 1.2em;
    height: 1.2em;
    padding: 0.1em 0em;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
}

#sns-link {
    display: flex;
    gap: 0.2em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 0.3em 0.5em;
    line-height: 1.8em;
    margin-right: 0.4em;
}

#sns-link:hover {
    display: flex;
    gap: 0.2em;
    font-weight: bold;
    background-color: #e0f7fa;
    color: #005f8f;
    border-radius: 0.3em;
}

/* スマートフォン */
@media (max-width: 1023px) {
    html {
        width: 100%;
        padding: 0;
        font-size: 1rem;
    }

    body {
        padding: 2em;
    }

    #container {
        max-width: 90%;
    }
}

/* PC */
@media (min-width: 1024px) {
    html {
        width: 100%;
        padding: 0;
        font-size: 1rem;
    }

    body {
        padding: 2em;
    }

    #container {
        max-width: 60%;
    }
}